<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-5.0.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">	
		  <bean id="bcryptPasswordEncoder" 
		 class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
		 <!-- MainController에서 암호화 및 복호화 패스워드비교에 사용하는  api -->
</beans>
