/* footer */

#footer {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 2px solid;
	background: #C0847F;
	color: #F8F4F0;
	font-weight: lighter;
	padding: 15px 0;
	position: relative;
}

.sns_box {
	width: 56px;
	height: 25px;
	margin: 0 auto;
}

.sns_box>a {
	width: 25px;
	display: inline-block;
	float: left;
	margin: 0 1.5px;
}

#certy {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.foo {
	float: left;
	margin: 20px 30px;
	text-align: left;
}

#footer_wrap {
	width: 1200px;
	height: 260px;
	margin: 0 auto;
	text-align: center;
}

#img{
	width: 30px;
    height: 30px;
}
li{
	display: block;
	color: #F8F4F0;
}
strong{
	color: #F8F4F0;
}
b{
	color: #F8F4F0;
}

