@charset "UTF-8";
	body{
		width:100%;
	}
	#wrapper{
		width:1200px;
		height:1100px;
		margin:0 auto;
		padding-top:40px;
		position:relative;
	}
	.searchbar{
		text-align:right;
		padding:10px 0;
	}
	table {
		text-align:center;
	}
	#board > tr:first-child{
		height:75.33px;
	}
	.content {
		margin:0 auto;
		width:800px;
	}
	.buttons{
		text-align:center;
	}
	
	