* {
	font-family: 'twayair', 'Roboto', 'sans-serif' !important;
}

#main {
	width: 100%;
    height: 850px;
    padding: 53px;
    text-align: center;
    position: relative;
    bottom: 40px;
}

#form {
	display: inline-block;
	text-align: center;
}

#resvmy {
	border-collapse: separate;
    border-spacing: 25px;
    width: 1677px;
    position: relative;
    top: 40px;
}

#resv_name {
	font-size: 35px;
    position: relative;
    bottom: 27px;
}

#seq {
	width: 7%;
}

#rating {
	width: 5%;
}

body{
	width: 100%;
	height: 100%;
}
.page{
	text-align: center;
	
}

img {
    width: 100%;
    height: 100%;
}
