@charset "UTF-8";

*{
font-family: 'twayair';
}
body{
 background-image: url("assets/css/images/night.jpg");
 background-size: auto;
}

.room {
	margin-left: 8%;
	font-size : 30px;
}
.number {
	width: 60%;
	font-size: 30px;
	width: 200px;
	size: 60%;
}
.date {
	font-size: 20px;
}
.button {
	margin-left: 40%;
	text-align :center;
	color: #fff;
	position: relative;
	font-size: 50px;
	font-weight: 500;
	background: #ff3d1c;
	border-radius: 10px;
	color: #fff;
}

.hotelseq {
	font-size: 50px;
}

form{
	margin-bottom: 120px;
}

.list-caption {
	top : 100px;
	background-color: white;
	border: 3px solid black;
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
	color: black;
}

.main {
 	margin-bottom:500px;
 	color : white;
 	text-decoration-line: none;
}