#STATICMENU { margin: 0pt; padding: 0pt;  position: absolute; right: 0px; top: 0px;} 

	.chatbtn:not(:disabled):not(.disabled) {
    cursor: pointer;
	}
	.chatbtn-primary:hover {
		color: #fff;
    	background-color: #0b5ed7;
    	border-color: #0a58ca;
	}
	.chatbtn:focus, .chatbtn:hover {
    text-decoration: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

	.chatbtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;