<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
<select id="adminMember" parameterType="hashmap" resultType="MemberDTO">
select u_id, u_pw, u_name, u_phone, u_email from member 
        <if test="searchName == 'id' ">
			where u_id LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName =='name'">
			where u_name LIKE '%'||#{searchValue}||'%'
		</if>
</select>

<select id="totalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from member
		<if test="searchName == 'id'">
			where u_id LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName == 'name'">
			where u_name LIKE '%'||#{searchValue}||'%'
		</if>
	</select>
<select id="adminHotel" parameterType="hashmap" resultType="HotelDTO">
select seq, name, place, addr, rating, hotel_img from hotel 
        <if test="searchName == 'name' ">
			where name LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName =='addr'">
			where addr LIKE '%'||#{searchValue}||'%'
		</if>
		order BY seq asc, DECODE (place, '서울', '부산', '제주')
</select>

<select id="HtotalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from Hotel
		<if test="searchName == 'name'">
			where name LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName == 'addr'">
			where addr LIKE '%'||#{searchValue}||'%'
		</if>
	</select>
	
	<select id="adminRoom" parameterType="hashmap" resultType="AdminRoomDTO">
		select  r.seq, h.name hotelname, r.name roomname, r.price, r.max_guest, r.room_img 
		from hotel h, room r
        where r.hotelseq = h.seq 
        <if test="searchName == 'hotelname'">
			and h.name LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName =='roomname'">
			and r.name LIKE '%'||#{searchValue}||'%'
		</if>
	</select>

	<select id="RtotalCount" resultType="int" parameterType="hashmap">
		select count(*) from room
		 <if test="searchName == 'hotelname'">
			 hotel where name LIKE '%'||#{searchValue}||'%' 
		</if>
		<if test="searchName =='roomname'">
			room where name LIKE '%'||#{searchValue}||'%' 
		</if>
	</select>
	
</mapper>