<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<!-- 게시글 목록 -->
	<select id="boardList" resultType="BoardDTO"
		parameterType="hashmap">
		select num, title, author, content,
		to_char(writeday, 'yyyy/MM/dd')
		writeday, readCnt,origin,groupnum,grouplayer
		from board
		<if test="searchName == 'title' ">
			where title LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName=='author'">
			where author LIKE '%'||#{searchValue}||'%'
		</if>
		order by origin desc,grouplayer,groupnum asc
	</select>
	<!-- 게시글 목록 -->


	<!-- 검색 기능 -->
	<select id="totalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from board

		<if test="searchName == 'title'">
			where title LIKE '%'||#{searchValue}||'%'
		</if>
		<if test="searchName == 'author'">
			where author LIKE '%'||#{searchValue}||'%'
		</if>

		order by origin desc,grouplayer,groupnum asc
	</select>
	<!-- 검색 기능 -->
	
	
	<!-- 게시글 추가 -->
	<insert id="boardInsert" parameterType="BoardDTO">
		insert into board(num, title, author, content,origin)
		values (board_seq.nextval, #{title}, #{author},
		#{content},board_seq.nextval)
	</insert>
	<!-- 게시글 추가 -->

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="BoardDTO">
		update board
		set title= #{title},
		author=#{author},
		content=#{content}
		where num = #{num}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="boardDelete" parameterType="int">
		delete from board where num= #{num}
	</delete>
	<!-- 게시글 삭제 -->

	<!-- 조회 수 증가 -->
	<select id="selectByNum" resultType="BoardDTO" parameterType="int">
		select num, title, author, content, to_char(writeday, 'yyyy/MM/dd')
		writeday, readCnt,origin,groupnum,grouplayer
		from board where num= #{num}
	</select>

	<update id="readCnt" parameterType="int">
		update board
		set readCnt=(readCnt+1)
		where num = #{num}
	</update>
	<!-- 조회 수 증가 -->


	<!-- 댓글 -->
	<insert id="boardAnsInsert" parameterType="BoardDTO">
		insert into board (num,title,author,content,origin,groupnum, grouplayer)
		values(board_seq.nextval,
		#{title},#{author},#{content},#{origin},#{groupnum}, #{grouplayer})
	</insert>
	<!-- 댓글 -->

	<!-- 대댓글 -->
	<update id="updateLayer" parameterType="hashmap">
     <![CDATA[ update board set groupnum = groupnum + 1 where origin = #{origin} and groupnum > #{groupnum} ]]>
	</update>
	<!-- 대댓글 -->


	<select id="selectauthor" parameterType="int" resultType="string">
	select author from board where num=#{num}
	</select>


</mapper>