<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EventMapper">

	<!-- 이벤트 등록  -->
	<insert id="eventInsert" parameterType="EventDTO">
		insert into event 
		values('A'||TO_CHAR(event_seq.nextval), #{subject}, #{author}, #{content},#{eventImg},sysdate)
	</insert>
	<!-- 이벤트 등록  -->
	<update id="update" parameterType="EventDTO">
		update event 
		set subject= #{subject}, author=#{author}, content=#{content}
		where code = #{code}
	</update>
	
	<!-- 이벤트 삭제  -->
	<delete id="delete" parameterType="string">
		delete from event
		where code = #{code}
	</delete>

	<!-- EVENT 조회 -->
		<!-- clob처리를 위한 코드 -->
		<resultMap id="eventContent" type="EventDTO" >
	    	<result property="content" column="content" jdbcType="CLOB" javaType="java.lang.String" />
		</resultMap>
	<select id="eventList" parameterType="int" resultType="EventDTO" resultMap="eventContent">
		select * from event order by regdate desc
	</select>
	
	<!-- Event 페이지 페이징을 위한 전체목록 개수 -->
	<select id="totalCount2" resultType="int">
		select count(*) from event
	</select>
	
	<!-- Event 보기  -->
	<select id="eventRetrieve" parameterType="String" resultType="EventDTO">
		select * from event where code = #{code}
	</select>

</mapper>