<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HotelMapper">
<select id="hotelList" parameterType="string" resultType="HotelDTO" >
	select * from hotel
</select>

<select id="hotelLoc" parameterType="string" resultType="HotelDTO">
	select * from hotel where place= #{location}
</select>

<select id="totalCount" parameterType="string" resultType="int">
	select count(*) from hotel where place= #{location}
</select>
<select id="totalCount1" parameterType="string" resultType="int">
	select count(*) from hotel 
</select>

<select id="roomList" resultType="RoomDTO" parameterType="string">
	select * from room where hotelseq=#{seq}
</select>


<!-- 호텔리스트 검색 기능  -->
<select id="searchKey" parameterType="string" resultType="HotelDTO">
	select * from hotel where place = #{place}
</select>

<!-- 룸 info select-->
<select id="roomInfo" resultType="RoomInfoDTO" parameterType="string">
select * from roominfo where r_seq=#{seq} order by r_seq
</select>

<select id="roomList2" resultType="RoomDTO" parameterType="string">
	select * from room where seq=#{seq}
</select>

<select id="date" resultType="int" parameterType="hashmap">
	select COUNT(*) from resv 
	where roomseq = #{roomseq} and checkin = TO_DATE(#{checkin})
</select>

<select id="rating" resultType="RatingDTO">
select hotelname,round(avg(rating),2) rating from review group by hotelname
</select>
<!-- 룸 최대 인원수 가져오기 -->
<select id="selectMaxGuest" parameterType="string" resultType="int">
select max_guest from room where seq =#{roomseq}
</select>
<!-- 룸 최대 인원수 가져오기 -->

<!-- 호텔 정보 삭제 -->
<delete id="HotelDelete" parameterType="String">
delete from hotel where seq = #{seq}
</delete>
<!-- 호텔 정보 삭제 -->

<!-- 호텔 정보 가져오기 -->
<select id="hotelSelect" parameterType="string"  resultType="HotelDTO">
select * from hotel where seq = #{seq}
</select>
<!-- 호텔 정보 가져오기 -->
<update id="hotelUpdate" parameterType="HotelUpdateDTO">
update hotel set  
     name = #{name}, 
     place = #{place}, 
     addr = #{addr},
     hotel_img = #{hotel_img}
    where seq = #{seq}
</update>


</mapper>
