<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResvMapper">
	<insert id="resvInsert" parameterType="ResvDTO">
		insert into RESV
		values(resv_seq.nextval,#{hotelseq},#{u_id},#{roomseq},#{checkin},#{checkout},SYSDATE,
		#{price},#{guest},null)
	</insert>
	<select id="resvMy" resultType="ResvMyDTO"
		parameterType="string">
		select re.seq, h.rating, h.name hotelName, h.addr,
		ro.name roomName,
		re.checkin, re.checkout, re.resvdate, re.guest,
		re.price, re.cancel
		from Hotel h, resv re, room ro
		where h.seq =
		re.hotelseq and re.roomseq = ro.seq and re.u_id = #{u_id}
	</select>

	<delete id="resvCancel" parameterType="int">
		delete from resv
		where seq = #{seq}
	</delete>


	<select id="resvMyList" resultType="ResvMyDTO"
		parameterType="string">
		select re.seq, h.rating, h.name hotelName, h.addr,
		ro.name roomName,
		re.checkin, re.checkout, re.resvdate, re.guest,
		re.price, re.cancel
		from Hotel h, resv re, room ro
		where h.seq =
		re.hotelseq and re.roomseq = ro.seq and re.u_id = #{u_id}
	</select>

	<select id="totalCount" parameterType="string" resultType="int">

		select count(*) from Hotel h, resv re, room ro
		where h.seq =
		re.hotelseq and re.roomseq = ro.seq and re.u_id = #{u_id}
	</select>
	
	<select id="payList" resultType="ResvDTO" parameterType="String">
	select * from resv where roomseq=#{roomseq}
</select>
</mapper>